
@{
    ViewData["Title"] = "Travel";
}

<div class="text-center">
    <div id="showInfo">
        
    </div>

</div>
@section Scripts{
    <script src="/js/travel.js"></script>
    <script>
        //console.log(DATAS);

        $(DATAS).each(function(i,data){
            console.log(data.Name);
            $('#showInfo').append(`<div class="card"><div class="card-header"><h4>${data.Name}</h4></div><div class="card-body"><h5 class="card-title">${data.Add}</h5><p class="card-text">${data.Toldescribe}</p><a href="${data.Website}" class="btn btn-primary" target='_blank'>官網</a></div></div></div>`);
        });
    </script>
}
@section Styles{
    <style>
        #showInfo {
            display: flex;
            flex-wrap:wrap;
            padding: 10px;
        }

        #showInfo .card {
            margin: 10px;
            width:30%;
        }
    </style>
}
