@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="showInfo">
        <div class="card">
            <div class="card-header">
                上課範例練習
            </div>
            <div class="card-body">
                
                <p class="card-text">@Html.ActionLink("members","members","Home",null,new {@class="btn btn-primary"})</p>
                <p class="card-text">@Html.ActionLink("firstAjax","firstAjax","Home",null,new {@class="btn btn-primary"})</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                作業區
            </div>
            <div class="card-body">
                <p class="card-text">@Html.ActionLink("作業一","Travel","Homework",null,new {@class="btn btn-primary"})</p>
                <p class="card-text">@Html.ActionLink("作業二","Register","Homework",null,new {@class="btn btn-primary"})</p>

            </div>
        </div>
    </div>
    
</div>
@*<ul id="myUL"></ul>*@

@section Scripts{
    <script>
        const emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };


        //$(emp).each(function (key, value) {
        //    $(value.employees).each(function (i, person) {
        //        $('#myUL').append('<li>' + person.name + '</li>');
        //        //console.log(person.name);
        //        //console.log(person.workYears);
        //        //console.log(person.salary);
        //    });
        //});

        emp.employees.forEach(function(value,index,array){
            const { name, workYears, salary }=value;
            //console.log(name);
            document.getElementById('myUL').innerHTML+=`<li>${name}</li>`;
        });

        //array.map()會return一個新的array
        let datas = emp.employees.map(function (value, index, array) { 
            const { name, workYears, salary }=value;
            return `<li>${name}-${salary}</li>`;
            //console.log(value);
        });
        document.getElementById('myUL').innerHTML+=datas.join('');//array.join()用join()中的字元當作分隔把陣列元素組成一個新的字串(string)

    </script>
}
@section Styles{
    <style>
        #showInfo{
            display:flex;
            padding:10px;
        }

        #showInfo .card {
            margin:10px;
            width:50%;
        }
    </style>
}